@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

#logosection {
  margin-top: -8px;
}

#logo {
  width: 45%;
  margin: 22px 0 10px 0;
}

#lieusection {
  background: #EAEAEA;
  padding: 13px 0;
  border-top: 4px #DDD solid;
  margin: 0 -8px;
}

#icone-lieu {
  margin-right: 12px;
}

#presentation {
  background: #F6F6F6;
  padding: 0px 20px;
  margin: -20px -8px 0 -8px;
}

h1 {
  padding: 35px 50px 0 50px;
  margin-bottom: -5px;
}

#decouvrez {
  font-size: 18px;
  font-weight: 100;
}

/* Bouton en dégradé */
#explorer {
  cursor: pointer;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 5px 5px #CCC;
  color: white;
  font-size: 16px;
  padding: 15px 22px;
  border-width: 0;
  border-radius: 50px;
  margin: 13px 0 55px 0;
}

h2, h3 {
  text-align: left;
  margin: 50px 0 0 10px;
}

#fonc-ligne1, #fonc-ligne2, #fonc-ligne3 {
  display: flex;
  margin: 25px 0;
}

#fonc-ligne3 {
  margin-bottom: 70px;
}

.fonc-num {
  align-self: center;
  background: #9356DC;
  color: white;
  padding: 3px 8px;
  border-radius: 50px;
  margin: 0 -10px 0 10px;
  z-index: 2;
}

.fonc-gris {
  background: #F6F6F6;
  box-shadow: 0px 5px 5px #DDD;
  width: 75%;
  text-align: left;
  padding: 26px;
  border-radius: 20px;
  margin-left: -2px;
}

.fonc-ico {
  color: #777;
  font-size: 20px;
  margin: 0 20px 0 8px;
}

.fonc-tex {
  font-weight: bold;
}

#restaurants {
  background: #F6F6F6;
  padding: 0px 20px;
  border: 1px transparent solid;
  margin: 0 -8px;
}

.restau-card {
  position: relative;
  background-color: white;
  box-shadow: 0px 5px 5px #DDD;
  text-align: left;
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin: 18px 0;
}

.nouveau {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 15px;
  font-weight: bold;
  color: #278870;
  background: #99E2D0;
  padding: 5px 11px;
}

.restau-descr {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 15px 0;
}

.restau-tit, .restau-tex {
  padding-left: 15px;
}

.restau-tit {
  font-size: 18px;
  font-weight: bold;
}

.restau-tex {
  font-size: 17px;
  font-weight: 100;
  margin-top: 10px;
}

.restau-link {
  align-self: center;
  margin-right: 25px;
}

.coeur {
  font-size: 20px;
  color: black;
}

#card1 {
  margin: 22px 0 10px 0;
}

#card4 {
  margin-bottom: 62px;
}

#restau-img1, #restau-img2, #restau-img3, #restau-img4 {
  background-position: center;
  background-size: cover;
  height: 175px;
  border-radius: 20px 20px 0 0;
  margin-bottom: 10px;
}

#restau-img1 {
  background-image: url(Images/La-palette.jpg);
  background-position: center bottom;
}

#restau-img2 {
  background-image: url(Images/La-note.jpg);
  background-position: center bottom 38%;
}

#restau-img3 {
  background-image: url(Images/A-la-francaise.jpg);
  background-position: center bottom;
}

#restau-img4 {
  background-image: url(Images/Le-delice.jpg);
  background-position: center bottom;
}

footer {
  background: #353535;
  color: white;
  padding: 0px 8px;
  border: 1px transparent solid;
  margin: 0 -8px -8px -8px;
}
footer p {
  text-align: left;
  padding: 0 8px;
  margin: 7px 0;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  text-decoration: underline;
}

h3 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  padding-top: 0;
  margin-top: 20px;
}

#footer-ligne1 {
  margin-top: 18px;
}

.footer-ico {
  font-size: 11px;
  width: 18px;
}

#footer-ligne4 {
  margin-bottom: 34px;
}

/*# sourceMappingURL=Style.css.map */
