@charset "UTF-8";
/* CSS POUR TOUTES LES PAGES DU SITE
OU SEULEMENT LA PAGE D'ACCUEIL. */
body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  position: relative;
}

.spinner {
  cursor: pointer;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: transparent;
  width: 300px;
  height: 300px;
  border: 20px solid;
  border-color: transparent;
  border-radius: 50%;
  margin: auto;
  /* Ci-dessous, l'animation peut être mise en pause. */
  /*&:hover {
      animation-play-state: paused
  }*/
  animation: spinner 3000ms 500ms cubic-bezier(0.6, 0.1, 0.4, 0.9);
}

@keyframes spinner {
  0% {
    z-index: 3;
    opacity: 1;
    transform: rotate(0);
    border-top-color: #9356DC;
  }
  33% {
    transform: rotate(1turn);
    border-top-color: #FF79DA;
  }
  67% {
    transform: rotate(2turn);
    border-top-color: #99E2D0;
  }
  100% {
    z-index: 3;
    opacity: 1;
    transform: rotate(3turn);
    border-top-color: #9356DC;
  }
}
#logosection {
  position: relative;
  margin-top: -8px;
}

#logo {
  width: 45%;
  margin: 22px 0 10px 0;
}

#lieusection {
  background: #EAEAEA;
  padding: 13px 0;
  border-top: 4px #DDD solid;
  margin: 0 -8px;
}

#icone-lieu {
  margin-right: 12px;
}

#presentation {
  background: #F6F6F6;
  padding: 0px 20px;
  margin: -20px -8px 0 -8px;
}

h1 {
  padding: 35px 50px 0 50px;
  margin-bottom: -5px;
}

#decouvrez {
  font-size: 18px;
  font-weight: 100;
}

/* Bouton en dégradé. */
#explorer {
  cursor: pointer;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 5px 5px #CCC;
  color: white;
  font-size: 16px;
  padding: 15px 22px;
  border-width: 0;
  border-radius: 50px;
  margin: 13px 0 55px 0;
  transition: all 400ms;
}
#explorer:hover {
  background: linear-gradient(to bottom right, #ff46cc, #782cd3);
  box-shadow: 0px 5px 5px #666666;
}

h2, h3 {
  text-align: left;
  margin: 50px 0 0 10px;
}

#fonc-ligne1, #fonc-ligne2, #fonc-ligne3 {
  cursor: pointer;
  display: flex;
  margin: 25px 0;
}

#fonc-ligne3 {
  margin-bottom: 70px;
}

.fonc-num {
  align-self: center;
  background: #9356DC;
  color: white;
  padding: 3px 8px;
  border-radius: 50px;
  margin: 0 -10px 0 10px;
  z-index: 2;
}

.fonc-gris {
  background: #F6F6F6;
  box-shadow: 0px 5px 5px #DDD;
  width: 75%;
  text-align: left;
  padding: 26px;
  border-radius: 20px;
  margin-left: -2px;
  transition: all 400ms;
}
.fonc-gris:hover {
  background: #F5EDFF;
  box-shadow: 0px 5px 5px #777777;
}
.fonc-gris:hover .fonc-ico {
  color: #9356DC;
}

.fonc-ico {
  color: #777;
  font-size: 20px;
  margin: 0 20px 0 8px;
}

.fonc-tex {
  font-weight: bold;
}

/* Section. */
#restaurants {
  background: #F6F6F6;
  padding: 0px 20px;
  border: 1px transparent solid;
  margin: 0 -8px;
}

/* Lien englobant chaque carte. */
.restau-link {
  text-decoration: none;
  color: black;
}

.restau-card {
  position: relative;
  background-color: white;
  box-shadow: 0px 5px 5px #DDD;
  text-align: left;
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin: 18px 0;
  transition: all 400ms;
}
.restau-card:hover {
  background: #F5EDFF;
  box-shadow: 0px 5px 5px #777777;
}

/* Bouton vert de nouveauté sur les cartes. */
.nouveau {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 15px;
  font-weight: bold;
  color: #278870;
  background: #99E2D0;
  padding: 5px 11px;
  transition: all 400ms;
}
.nouveau:hover {
  color: white;
  background: #9356DC;
}

/* Nom, lieu et coeur. */
.restau-descr {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 15px 0;
}

.restau-tit, .restau-tex {
  padding-left: 15px;
}

.restau-tit {
  font-size: 18px;
  font-weight: bold;
}

.restau-tex {
  font-size: 17px;
  font-weight: 100;
  margin-top: 10px;
}

.coeur {
  align-self: center;
  position: relative;
  font-size: 20px;
  background: transparent;
  color: black;
  margin-right: 25px;
}
.coeur:hover::after {
  width: 20px;
  height: 20px;
  transform: scale(1.2);
  background-image: url("Images/Coeur-plein.svg");
}
.coeur::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(0);
  transition: transform 400ms linear;
}

#card1 {
  margin: 22px 0 10px 0;
}

#card4 {
  margin-bottom: 62px;
}

/* Image dans chaque carte. */
#restau-img1, #restau-img2, #restau-img3, #restau-img4 {
  background-position: center;
  background-size: cover;
  height: 175px;
  border-radius: 20px 20px 0 0;
  margin-bottom: 10px;
}

#restau-img1 {
  background-image: url(Images/La-palette.jpg);
  background-position: center bottom;
}

#restau-img2 {
  background-image: url(Images/La-note.jpg);
  background-position: center bottom 38%;
}

#restau-img3 {
  background-image: url(Images/A-la-francaise.jpg);
  background-position: center bottom;
}

#restau-img4 {
  background-image: url(Images/Le-delice.jpg);
  background-position: center bottom;
}

footer {
  background: #353535;
  color: white;
  padding: 0px 8px;
  border: 1px transparent solid;
  margin: 0 -8px -8px -8px;
}
footer p {
  text-align: left;
  padding: 0 8px;
  margin: 7px 0;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  text-decoration: underline;
}

h3 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  padding-top: 0;
  margin-top: 20px;
}

#footer-ligne1 {
  margin-top: 18px;
}

.footer-ico {
  font-size: 11px;
  width: 18px;
}

#footer-ligne4 {
  margin-bottom: 34px;
}

/* CSS POUR LES 4 PAGES DE MENUS. */
/* Bouton de retour à l'accueil. */
.retour {
  position: absolute;
  top: 35%;
  left: 4%;
  font-size: 18px;
}

/* Image, nom et coeur. */
#banniere {
  background-color: #F6F6F6;
  width: 100vw;
  height: auto;
  margin: 0 -8px;
}

.menu-img {
  background-position: center top;
  background-size: 110%;
  height: 270px;
}

/* Nom et coeur. */
#menu-nom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #F6F6F6;
  padding: 30px 20px 0 20px;
  border-radius: 40px 40px 0 0;
  margin-top: -50px;
}

/* Nom seulement. */
#menu-titre {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.menu-coeur {
  font-size: 25px;
  color: #777;
  margin-right: 15px;
}

#La-palette {
  background-image: url(Images/La-palette.jpg);
}

#La-note {
  background-image: url(Images/La-note.jpg);
  background-position: center;
  background-size: cover;
}

#A-la-francaise {
  background-image: url(Images/A-la-francaise.jpg);
}

#Le-delice {
  background-image: url(Images/Le-delice.jpg);
  background-size: 106%;
}

/* Chacune des 3 sections. */
#entrees, #plats, #desserts {
  background-color: #F6F6F6;
  text-align: left;
  padding: 27px 20px 10px 20px;
  margin: 0 -8px;
}

#entrees {
  padding-top: 32px;
}

/* Titres Entrées/Plats/Desserts. */
.menu-EPD {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  margin: 0;
  animation: menu-delay 500ms cubic-bezier(0, 0.5, 0.5, 1) both;
}

.trait-vert {
  width: 35px;
  border: 1px #99E2D0 solid;
  margin-top: 5px;
  animation: menu-delay 500ms cubic-bezier(0, 0.5, 0.5, 1) both;
}

/* Chacune des 3 ou 4 lignes de chaque section. */
.menu-ligne1, .menu-ligne2, .menu-ligne3, .menu-ligne4 {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: white;
  box-shadow: 0px 5px 5px #EAEAEA;
  width: auto;
  padding: 14px 20px;
  border-radius: 20px;
  margin: 13px -8px;
  overflow: hidden;
  transition: all 400ms;
  animation: menu-delay 500ms cubic-bezier(0, 0.5, 0.5, 1) both;
}
.menu-ligne1:hover, .menu-ligne2:hover, .menu-ligne3:hover, .menu-ligne4:hover {
  box-shadow: 0px 5px 5px #848484;
}
.menu-ligne1:hover .prix, .menu-ligne1:hover .selection-plat, .menu-ligne2:hover .prix, .menu-ligne2:hover .selection-plat, .menu-ligne3:hover .prix, .menu-ligne3:hover .selection-plat, .menu-ligne4:hover .prix, .menu-ligne4:hover .selection-plat {
  transform: translate(-63px);
}
.menu-ligne1:hover .ico-selec, .menu-ligne2:hover .ico-selec, .menu-ligne3:hover .ico-selec, .menu-ligne4:hover .ico-selec {
  transform: rotate(1turn);
}

/*#menu-EPD-entree, #trait-vert-entree {
    animation-delay: 0
}*/
#menu-ligne1-entree {
  animation-delay: 300ms;
}

#menu-ligne2-entree {
  animation-delay: 600ms;
}

#menu-ligne3-entree {
  animation-delay: 900ms;
}

#menu-ligne3-entree-lanote {
  margin-bottom: 13px;
  animation-delay: 900ms;
}

#menu-ligne4-entree {
  animation-delay: 1200ms;
}

#menu-EPD-plat, #trait-vert-plat {
  animation-delay: 1500ms;
}

#menu-ligne1-plat {
  animation-delay: 1800ms;
}

#menu-ligne1-plat-ledelice {
  display: inline-block;
  width: 210px;
}

#menu-ligne2-plat {
  animation-delay: 2100ms;
}

#menu-ligne3-plat {
  animation-delay: 2400ms;
}

#menu-EPD-dessert, #trait-vert-dessert {
  animation-delay: 3000ms;
}

#menu-ligne1-dessert {
  animation-delay: 3300ms;
}

#menu-ligne2-dessert {
  animation-delay: 3600ms;
}

#menu-ligne3-dessert {
  /* Dernière ligne avant le bouton "Commander". */
  margin-bottom: 44px;
  animation-delay: 3900ms;
}

@keyframes menu-delay {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu-ligne1 {
  margin-top: 14px;
}

.menu-ligne3, .menu-ligne4 {
  margin-bottom: -2px;
}

/* Titre et info du plat. */
.plat {
  padding: 0;
  margin-left: -6px;
}

.plat-titre {
  font-size: 18px;
  font-weight: bold;
  width: auto;
}

.plat-info-test {
  display: inline-block;
  font-size: 15px;
  font-weight: 100;
  width: auto;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.plat-info {
  font-size: 15px;
  font-weight: 100;
}

.prix {
  align-self: flex-end;
  font-size: 14px;
  font-weight: bold;
  margin-right: 3px;
  transition: transform 400ms linear;
}

/* Zone verte apparaîssant en survol du plat. */
.selection-plat {
  background-color: #99E2D0;
  position: absolute;
  top: 0;
  right: -63px;
  bottom: 0;
  width: 18%;
  height: 100%;
  text-align: center;
  padding-top: 19px;
  border-radius: 0 20px 20px 0;
  transition: transform 400ms linear;
}

/* Icône dans la zone verte. */
.ico-selec {
  color: white;
  font-size: 30px;
  transition: transform 400ms linear;
}

/* Section. */
#commander {
  background: #F6F6F6;
  padding: 0px 20px;
  margin: -20px -8px 4px -8px;
}

/* Bouton en dégradé. */
#commander-bouton {
  cursor: pointer;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 5px 5px #CCC;
  color: white;
  font-size: 16px;
  padding: 15px 50px;
  border-width: 0;
  border-radius: 50px;
  margin: 13px 0 55px 0;
  transition: all 400ms;
}
#commander-bouton:hover {
  background: linear-gradient(to bottom right, #ff46cc, #782cd3);
  box-shadow: 0px 5px 5px #666666;
}

/*# sourceMappingURL=Style.css.map */
